.select {
  grid-area: filters;
  position: relative;
  display: flex;
  width: 300px;
  height: 3rem;
  line-height: 3;
  background: black;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 0.25rem;
  margin: 1.5rem 1rem;
}

.select select {
  flex: 1;
  padding: 0 0.5rem;
  color: black;
  cursor: pointer;
  appearance: none;
  box-shadow: none;
  background: white;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  background: gray;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: black;
}

@media (max-width: 800px) {
  .select {
    width: auto;
  }
}
