.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(80vw, 4fr) 1fr;
  grid-template-rows: 3rem auto 1fr 3rem;
  grid-template-areas:
    'header header header'
    '.  filters  .'
    '. content .'
    'footer  footer  footer';
}

.footer {
  grid-area: footer;
  background-color: lightgray;
  margin-top: 1.5rem;
}

@media (max-width: 800px) {
  .app {
    grid-template-columns: auto;
    grid-template-rows: 3rem auto 1fr 3rem;
    grid-template-areas:
      'header'
      'filters'
      'content'
      'footer';
  }
}
